@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-open-sans: 'open sans', 'sans-serif';
}

:root {
  --color-blue: hsl(200, 100%, 50%);
  --color-gray: hsl(0, 0%, 80%);
  --color-yellow: hsl(50, 100%, 50%);
  --color-black-semi-translucent: hsl(0, 0%, 0%, 50%);
  --color-light-red: hsl(0, 40%, 80%);
  --color-red: hsl(0, 50%, 50%);

  --color-danger: var(--color-light-red);
  --color-danger-hover: var(--color-red);
  --color-on-danger: white;

  --color-food: var(--color-yellow);
  --color-snake: var(--color-blue);
}

:root {
  --border-black: 0.25vmin solid black;
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans);
  margin: 0;
}

.game-board {
  --grid-size: 21;
  --grid-template: repeat(var(--grid-size), 1fr);
  --size: 100vmin;

  background: var(--color-gray);
  display: grid;
  grid-template-columns: var(--grid-template);
  grid-template-rows: var(--grid-template);
  height: var(--size);
  width: var(--size);
}

.container {
  display: flex;
  gap: 2rem;
}

.side-menu {
  width: min(90%, 400px);
}

.scoreboard {
  margin-top: 3rem;
}

.scoreboard * {
  margin: 0;
}

.confirm-window,
.confirm-window-background,
.confirm-window-foreground {
  position: absolute;
}

.confirm-window,
.confirm-window-background {
  --size: 100%;

  height: var(--size);
  width: var(--size);
}

.confirm-window-foreground {
  --size: 90%;

  background: white;
  border-radius: var(--border-radius);
  height: var(--size);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: var(--size);
}

.confirm-window-background {
  background: var(--color-black-semi-translucent);
}

.confirm-window-top {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  padding: 0.5rem 0;
}

.confirm-window-title {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.confirm-window-buttons {
  padding: 0 1rem;
}

.confirm-window-button {
  border-radius: 50%;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

.confirm-window-close-button {
  background: var(--color-danger);
  color: var(--color-on-danger);
  transition: 200ms;
}

.confirm-window-close-button:hover {
  background: var(--color-danger-hover);
}

.snake,
.food {
  border: var(--border-black);
}

.snake {
  background: var(--color-snake);
}

.food {
  background: var(--color-food);
}

