@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-open-sans: 'open sans', 'sans-serif';
}

:root {
  --color-blue: hsl(200, 100%, 50%);
  --color-gray: hsl(0, 0%, 80%);
  --color-yellow: hsl(50, 100%, 50%);

  --color-food: var(--color-yellow);
  --color-snake: var(--color-blue);
}

:root {
  --border-black: 0.25vmin solid black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans);
  margin: 0;
}

.game-board {
  --grid-size: 21;
  --grid-template: repeat(var(--grid-size), 1fr);
  --size: 100vmin;

  background: var(--color-gray);
  display: grid;
  grid-template-columns: var(--grid-template);
  grid-template-rows: var(--grid-template);
  height: var(--size);
  width: var(--size);
}

.container {
  display: flex;
  gap: 2rem;
}

.side-menu {
  width: min(90%, 400px);
}

.scoreboard {
  margin-top: 3rem;
}

.scoreboard * {
  margin: 0;
}

.snake,
.food {
  border: var(--border-black);
}

.snake {
  background: var(--color-snake);
}

.food {
  background: var(--color-food);
}

